.headings {
    display: flex;
    justify-content: center;
}

#contact-info {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#headshot {
    width: 300px;
    height: auto;
}
#headshot-container {
    display: flex;
    justify-content: center;
}
#statement-and-accolades {
    display: flex;
    justify-content: center;
}

#grid-layout h4 {
    text-align: center;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  gap: 50px;
}

.image-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.image-group img {
    height: 300px;
    width: auto;
}